<body>
<section class="cartMain">
    <div class="cartMain_hd">
        {% csrf_token %}
        <ul class="order_lists cartTop">
            <li class="list_chk">
                <!--所有商品全选-->
                <input type="checkbox" id="all" class="whole_check">
                <label for="all"></label>
                全选
            </li>
            <li class="list_con">商品信息</li>
            <li class="list_info">商品参数</li>
            <li class="list_price">单价</li>
            <li class="list_amount">数量</li>
            <li class="list_sum">金额</li>
            <li class="list_op">操作</li>
        </ul>
    </div>

    <div class="cartBox">

        <div class="shop_info">

            <div class="all_check">
                <!--店铺全选-->
                <input type="checkbox" id="shop_a" class="shopChoice">
                <label for="shop_a" class="shop"></label>
            </div>
            <div class="shop_name">
                店铺：<a href="javascript:;">零食店铺</a>
            </div>
        </div>
        <div class="order_content">
            {% for car in car_list %}
                <ul class="order_lists">
                    <li class="list_chk">
                        <input type="checkbox" id="checkbox_2" class="son_check">
                        <label for="checkbox_2"></label>
                    </li>
                    <li class="list_con">
                        <div class="list_img"><a href="#"><img
                                src="{{ car.img.img_url }}"
                                alt=""></a></div>
                        <div class="list_text"><a
                                href="#">{{ car.shop.name }}</a></div>
                    </li>
                    <li class="list_info">
                        <p>规格：默认</p>
                        <p>尺寸：默认</p>
                    </li>
                    <li class="list_price">
                        <p class="price">￥{{ car.shop.promote_price }}</p>
                    </li>
                    <li class="list_amount">
                        <div class="amount_box">
                            <a href="javascript:;" class="reduce reSty">-</a>
                            <input type="text" value="{{ car.shop_number }}" id="{{ car.car_id }}" name="nums" class="sum">
                            <a href="javascript:;" class="plus">+</a>
                        </div>
                    </li>
                    <li class="list_sum">
                        <p class="sum_price">￥{{ car.shop.promote_price }}</p>
                    </li>
                    <li class="list_op">
                        <p class="del"><a href="javascript:;" class="delBtn">移除商品</a></p>
                    </li>
                </ul>
            {% endfor %}
            <div id="footer" class="footer" style="display: block;">
                <div id="footer_ensure" class="footer_ensure">
                    <a href="#nowhere">
                        <img src="/static/images/ensure.png">
                    </a>
                </div>
                <div class="horizontal_line">
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
    <div class="bar-wrapper">
        <div class="bar-right">
            <div class="piece">已选商品<strong class="piece_num">0</strong>件</div>
            <div class="totalMoney">共计: <strong class="total_text">0.00</strong></div>
            <div class="calBtn"><a href="javascript:;">结算</a></div>
        </div>
    </div>
</section>
<section class="model_bg"></section>
<section class="my_model">
    <p class="title">删除宝贝<span class="closeModel">X</span></p>
    <p>您确认要删除该宝贝吗？</p>
    <div class="opBtn"><a href="javascript:;" class="dialog-sure">确定</a><a href="javascript:;"
                                                                           class="dialog-close">关闭</a></div>
</section>


<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/carts.js"></script>
<script type="text/javascript">

    $(function () {

        $('.calBtn').click(function () {
            let cars = [];
            //遍历所有的选中的购物车记录
            $('.shopChoice').each(function (index, ele) {
                //获取被选中的元素的input的num 和 car_id
                if ($(ele).prop('checked')) {
                    let $sum = $(this).parent().nextAll('.list_amount').find('.sum');
                    let num = $sum.val();
                    let car_id = $sum.attr('id');
                    cars.push({num: num, car_id: car_id})
                }
            });
            if (cars.length > 0) {
                cars_str = JSON.stringify(cars);

                data = {
                    car: cars_str,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                };
                $.post('#', data, function (result) {
                    if (result.status === 200) {
                        window.location.href = '/cart/order/?oid=' + result.content.oid
                    }
                })
            }


        })
    })


</script>
<div style="text-align:center;">
</div>

</body>




