<!--分类-->
<ol class="am-breadcrumb am-breadcrumb-slash">
    <li><a href="#">首页</a></li>
    <li><a href="#">分类</a></li>
    <li class="am-active">{{ cate_name }}</li>
</ol>
<script type="text/javascript">
    $(function () {
    });
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>
<div class="scoll">
    <section class="slider">
        <div class="flexslider">
            <ul class="slides">
                {% for img in shop.imgs %}
                    {% if  forloop.first %}
                        <li>
                            <img src="{{ img.img_url }}" title="pic"/>
                        </li>
                    {% else %}
                        <ul class="slides">
                            <li>
                                <img src="{{ img.img_url }}"/>
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>
</div>

<!--放大镜-->

<div class="item-inform">
    <div class="clearfixLeft" id="clearcontent">

        <div class="box">
            <script type="text/javascript">
                $(document).ready(function () {
                    $(".jqzoom").imagezoom();
                    $("#thumblist li a").click(function () {
                        $(this).parents("li").addClass("tb-selected").siblings().removeClass("tb-selected");
                        $(".jqzoom").attr('src', $(this).find("img").attr("mid"));
                        $(".jqzoom").attr('rel', $(this).find("img").attr("big"));
                    });
                });
            </script>

            <div class="tb-booth tb-pic tb-s310">
                {% for img in shop.imgs %}
                    {% if  forloop.first %}
                        <a href="/static/images/01.jpg"><img src="{{ img.img_url }}" alt="细节展示放大镜特效"
                                                             rel="/static/images/01.jpg"
                                                             class="jqzoom" style="cursor: crosshair;"></a>
                    {% endif %}
                {% endfor %}
            </div>
            <ul class="tb-thumb" id="thumblist">
                <li class="tb-selected">
                    {% for img in shop.imgs %}
                        {% if  forloop.first %}
                            <div class="tb-pic tb-s40">
                                <a href="#"><img src="{{ img.img_url }}" mid="{{ img.img_url }}"
                                                 big="{{ img.img_url }}"></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </li>
                {% for img in shop.imgs %}
                    {% if  forloop.counter <= 5 %}
                        <li>
                            <div class="tb-pic tb-s40">
                                <a href="#"><img src="{{ img.img_url }}" mid="{{ img.img_url }}"
                                                 big="{{ img.img_url }}"></a>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>


        <div class="clear"></div>
    </div>

    <div class="clearfixRight">

        <!--规格属性-->
        <!--名称-->
        <div class="tb-detail-hd">
            <h1>
                {{ shop.name }}
            </h1>
        </div>
        <div class="tb-detail-list">
            <!--价格-->
            <div class="tb-detail-price">
                <li class="price iteminfo_price">
                    <dt>促销价</dt>
                    <dd><em>¥</em><b class="sys_item_price">{{ shop.promote_price }}</b></dd>
                </li>
                <li class="price iteminfo_mktprice">
                    <dt>原价</dt>
                    <dd><em>¥</em><b class="sys_item_mktprice">{{ shop.original_price }}</b></dd>
                </li>
                <div class="clear"></div>
            </div>

            <!--地址-->
            <dl class="iteminfo_parameter freight">
                <dt>配送至</dt>
                <div class="iteminfo_freprice">
                    <div class="am-form-content address">
                        <select data-am-selected>
                            <option value="a">浙江省</option>
                            <option value="b">湖北省</option>
                        </select>
                        <select data-am-selected>
                            <option value="a">温州市</option>
                            <option value="b">武汉市</option>
                        </select>
                        <select data-am-selected>
                            <option value="a">瑞安区</option>
                            <option value="b">洪山区</option>
                        </select>
                    </div>
                    <div class="pay-logis">
                        快递<b class="sys_item_freprice">10</b>元
                    </div>
                </div>
            </dl>
            <div class="clear"></div>

            <!--销量-->
            <ul class="tm-ind-panel">
                <li class="tm-ind-item tm-ind-sellCount canClick">
                    <div class="tm-indcon"><span class="tm-label">月销量</span><span class="tm-count">1015</span></div>
                </li>
                <li class="tm-ind-item tm-ind-sumCount canClick">
                    <div class="tm-indcon"><span class="tm-label">累计销量</span><span class="tm-count">6015</span>
                    </div>
                </li>
                <li class="tm-ind-item tm-ind-reviewCount canClick tm-line3">
                    <div class="tm-indcon"><span class="tm-label">累计评价</span><span class="tm-count">640</span></div>
                </li>
            </ul>
            <div class="clear"></div>

            <!--各种规格-->
            <dl class="iteminfo_parameter sys_item_specpara">
                <dt class="theme-login">
                    <div class="cart-title">可选规格<span class="am-icon-angle-right"></span></div>
                </dt>
                <dd>
                    <!--操作页面-->

                    <div class="theme-popover-mask"></div>

                    <div class="theme-popover">
                        <div class="theme-span"></div>
                        <div class="theme-poptit">
                            <a href="javascript:;" title="关闭" class="close">×</a>
                        </div>
                        <div class="theme-popbod dform">
                            <form class="theme-signin" name="loginform" action="" method="post">

                                <div class="theme-signin-left">

                                    <div class="theme-options">
                                        <div class="cart-title">品牌</div>
                                        <ul>
                                            <li class="sku-line selected">{{ values.0.shop_value }}<i></i></li>
                                        </ul>
                                    </div>
                                    <div class="theme-options">
                                        <div class="cart-title">产地</div>
                                        <ul>
                                            <li class="sku-line selected">{{ values.1.shop_value }}<i></i></li>
                                        </ul>
                                    </div>
                                    <div class="theme-options">
                                        <div class="cart-title">种类</div>
                                        <ul>
                                            <li class="sku-line selected">{{ values.4.shop_value }}<i></i></li>
                                        </ul>
                                    </div>
                                    <div class="theme-options">
                                        <div class="cart-title">净含量</div>
                                        <ul>
                                            <li class="sku-line selected">{{ values.3.shop_value }}<i></i></li>
                                        </ul>
                                    </div>

                                    <div class="theme-options">
                                        <div class="cart-title number">数量</div>
                <dd>
                    <input id="min" class="am-btn am-btn-default" name="" type="button" value="-"/>
                    <input id="text_box" name="" type="text" value="1" style="width:30px;"/>
                    <input id="add" class="am-btn am-btn-default" name="" type="button" value="+"/>
                    <span id="Stock" class="tb-hidden">库存<span class="stock">{{ shop.stock }}</span>件</span>
                </dd>

        </div>
        <div class="clear"></div>

    </div>
    </form>
</div>
</div>

</dd>
</dl>
<div class="clear"></div>
<!--活动	-->
<div class="shopPromotion gold">
    <div class="hot">
        <dt class="tb-metatit">店铺优惠</dt>
        <div class="gold-list">
            <p>购物满2件打8折，满3件7折<span>点击领券<i class="am-icon-sort-down"></i></span></p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="coupon">
        <dt class="tb-metatit">优惠券</dt>
        <div class="gold-list">
            <ul>
                <li>125减5</li>
                <li>198减10</li>
                <li>298减20</li>
            </ul>
        </div>
    </div>
</div>
</div>

<div class="pay">
    <li>
        <div class="clearfix tb-btn tb-btn-buy theme-login">
            <a id="LikBuy" title="点此按钮到下一步确认购买信息" href="#">立即购买</a>
        </div>
    </li>
    <li>
        <div class="clearfix tb-btn tb-btn-basket theme-login">
            {% csrf_token %}
            <a id="LikBasket" title="加入购物车" href="#" shopid="{{ shop.shop_id }}"><i></i>加入购物车</a>
        </div>
    </li>
</div>

</div>

<div class="clear"></div>

</div>

<!--优惠套装-->
<div class="match">
    <div class="match-title">优惠套装</div>
    <div class="match-comment">
        <ul class="like_list">
            <li>
                <div class="s_picBox">
                    <a class="s_pic" href="#"><img src="/static/images/cp.jpg"></a>
                </div>
                <a class="txt" target="_blank" href="#">萨拉米 1+1小鸡腿</a>
                <div class="info-box"><span class="info-box-price">¥ 29.90</span> <span class="info-original-price">￥ 199.00</span>
                </div>
            </li>
            <li class="plus_icon"><i>+</i></li>
            <li>
                <div class="s_picBox">
                    <a class="s_pic" href="#"><img src="/static/images/cp2.jpg"></a>
                </div>
                <a class="txt" target="_blank" href="#">ZEK 原味海苔</a>
                <div class="info-box"><span class="info-box-price">¥ 8.90</span> <span class="info-original-price">￥ 299.00</span>
                </div>
            </li>
            <li class="plus_icon"><i>=</i></li>
            <li class="total_price">
                <p class="combo_price"><span class="c-title">套餐价:</span><span>￥35.00</span></p>
                <p class="save_all">共省:<span>￥463.00</span></p> <a href="#" class="buy_now">立即购买</a></li>
            <li class="plus_icon"><i class="am-icon-angle-right"></i></li>
        </ul>
    </div>
</div>
<div class="clear"></div>


<!-- introduce-->

<div class="introduce">
    <div class="browse">
        <div class="mc">
            <ul>
                <div class="mt">
                    <h2>看了又看</h2>
                </div>

                <li class="first">
                    <div class="p-img">
                        <a href="#"> <img class="" src="/static/images/browse1.jpg"> </a>
                    </div>
                    <div class="p-name"><a href="#">
                        【三只松鼠_开口松子】零食坚果特产炒货东北红松子原味
                    </a>
                    </div>
                    <div class="p-price"><strong>￥35.90</strong></div>
                </li>
                <li>
                    <div class="p-img">
                        <a href="#"> <img class="" src="/static/images/browse1.jpg"> </a>
                    </div>
                    <div class="p-name"><a href="#">
                        【三只松鼠_开口松子】零食坚果特产炒货东北红松子原味
                    </a>
                    </div>
                    <div class="p-price"><strong>￥35.90</strong></div>
                </li>
                <li>
                    <div class="p-img">
                        <a href="#"> <img class="" src="/static/images/browse1.jpg"> </a>
                    </div>
                    <div class="p-name"><a href="#">
                        【三只松鼠_开口松子】零食坚果特产炒货东北红松子原味
                    </a>
                    </div>
                    <div class="p-price"><strong>￥35.90</strong></div>
                </li>
                <li>
                    <div class="p-img">
                        <a href="#"> <img class="" src="/static/images/browse1.jpg"> </a>
                    </div>
                    <div class="p-name"><a href="#">
                        【三只松鼠_开口松子】零食坚果特产炒货东北红松子原味
                    </a>
                    </div>
                    <div class="p-price"><strong>￥35.90</strong></div>
                </li>
                <li>
                    <div class="p-img">
                        <a href="#"> <img class="" src="/static/images/browse1.jpg"> </a>
                    </div>
                    <div class="p-name"><a href="#">
                        【三只松鼠_开口松子218g】零食坚果特产炒货东北红松子原味
                    </a>
                    </div>
                    <div class="p-price"><strong>￥35.90</strong></div>
                </li>

            </ul>
        </div>
    </div>
    <div class="introduceMain">
        <div class="am-tabs" data-am-tabs>
            <ul class="am-avg-sm-3 am-tabs-nav am-nav am-nav-tabs">
                <li class="am-active">
                    <a href="#">

                        <span class="index-needs-dt-txt">宝贝详情</span></a>

                </li>

                <li>
                    <a href="#">

                        <span class="index-needs-dt-txt">全部评价</span></a>

                </li>

                <li>
                    <a href="#">

                        <span class="index-needs-dt-txt">猜你喜欢</span></a>
                </li>
            </ul>

            <div class="am-tabs-bd">

                <div class="am-tab-panel am-fade am-in am-active">
                    <div class="J_Brand">

                        <div class="attr-list-hd tm-clear">
                            <h4>产品参数：</h4></div>
                        <div class="clear"></div>
                        <ul id="J_AttrUL">
                            <li title="">产品类型:&nbsp;{{ cate_name }}</li>
                            <li title="">原料产地:&nbsp;{{ values.1.shop_value }}</li>
                            <li title="">产地:&nbsp;{{ values.1.shop_value }}</li>
                            <li title="">配料表:&nbsp;{{ values.4.shop_value }}</li>
                            <li title="">产品规格:&nbsp;{{ values.3.shop_value }}</li>
                            <li title="">保质期:&nbsp;{{ values.5.shop_value }}</li>
                            <li title="">产品标准号:&nbsp;GB/T 22165</li>
                            <li title="">生产许可证编号：&nbsp;QS4201 1801 0226</li>
                            <li title="">储存方法：&nbsp;请放置于常温、阴凉、通风、干燥处保存</li>
                        </ul>
                        <div class="clear"></div>
                    </div>

                    <div class="details">
                        <div class="attr-list-hd after-market-hd">
                            <h4>商品细节</h4>
                        </div>
                        <div class="twlistNews">
                            {% for img in shop.imgs %}
                                {% if forloop.counter > 5 %}
                                    <img src="{{ img.img_url }}"/>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="clear"></div>

                </div>
            </div>

        </div>

        <div class="clear"></div>
    </div>

</div>
</div>


