{% load staticfiles %}
<div class="shopNav">
    <div class="slideall" style="height: auto;">
        {#                轮播图#}
        <div class="bannerTwo">
            <!--轮播 -->
            <div class="am-slider am-slider-default scoll" data-am-flexslider id="demo-slider-0">
                <ul class="am-slides">
                    <li class="banner1"><a href="#"><img src="{% static 'images/ad5.jpg' %}"/></a></li>
                    <li class="banner2"><a href="#"><img src="{% static 'images/ad6.jpg' %} "/></a></li>
                    <li class="banner3"><a href="#"><img src="{% static 'images/ad7.jpg' %} "/></a></li>
                    <li class="banner4"><a href="#"><img src="{% static 'images/ad8.jpg' %} "/></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <!--侧边导航 三级菜单 -->
        <div id="nav" class="navfull" style="position: static;">
            <div class="area clearfix">
                <div class="category-content" id="guide_2">

                    <div class="category" style="box-shadow:none ;margin-top: 2px;">
                        <ul class="category-list navTwo" id="js_climit_li">
                            {#                                    每个li是左边的小的分类     5个动态的来获取#}
                            {% for cate in category_list %}
                                <li>
                                    <div class="category-info">
                                        <h3 class="category-name b-category-name"><a
                                                class="ml-22" title={{ cate.cate_name }}>{{ cate.cate_name }}</a></h3>
                                        <em></em></div>
                                    <div class="menu-item menu-in top">
                                        <div class="area-in">
                                            <div class="area-bg">
                                                <div class="menu-srot">
                                                    <div class="sort-side">
                                                        <dl class="dl-sort">
                                                            <dt><span
                                                                    title={{ cate.cate_name }}>{{ cate.cate_name }}</span>
                                                            </dt>
                                                            {% for sub_cate in cate.sub_cate_list %}

                                                                <dd>
                                                                    {#                                                                  href="{% url 'search' %}?keyword={{ sub_cate.name }}#}
                                                                    <a title={{ sub_cate.name }} href="{% url 'search_sub' %}?keyword={{ sub_cate.sub_cate_id }}"><span>{{ sub_cate.name }}</span></a>
                                                                </dd>
                                                            {% endfor %}

                                                        </dl>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <b class="arrow"></b>
                                </li>
                            {% endfor %}
                            <li>
                                <div class="category-info">
                                    <h3 class="category-name b-category-name"><a class="ml-22" title="点心">点心/蛋糕</a></h3>
                                    <em>&gt;</em></div>
                                <div class="menu-item menu-in top">
                                    <div class="area-in">
                                        <div class="area-bg">
                                            <div class="menu-srot">
                                                <div class="sort-side">
                                                    <dl class="dl-sort">
                                                        <dt><span title="蛋糕">蛋糕</span></dt>
                                                        <dd><a title="蒸蛋糕" href="#"><span>蒸蛋糕</span></a></dd>
                                                        <dd><a title="脱水蛋糕" href="#"><span>脱水蛋糕</span></a></dd>
                                                        <dd><a title="瑞士卷" href="#"><span>瑞士卷</span></a></dd>
                                                        <dd><a title="软面包" href="#"><span>软面包</span></a></dd>
                                                        <dd><a title="马卡龙" href="#"><span>马卡龙</span></a></dd>
                                                        <dd><a title="千层饼" href="#"><span>千层饼</span></a></dd>
                                                        <dd><a title="甜甜圈" href="#"><span>甜甜圈</span></a></dd>
                                                        <dd><a title="蒸三明治" href="#"><span>蒸三明治</span></a></dd>
                                                        <dd><a title="铜锣烧" href="#"><span>铜锣烧</span></a></dd>
                                                    </dl>
                                                    <dl class="dl-sort">
                                                        <dt><span title="蛋糕">点心</span></dt>
                                                        <dd><a title="蒸蛋糕" href="#"><span>蒸蛋糕</span></a></dd>
                                                        <dd><a title="脱水蛋糕" href="#"><span>脱水蛋糕</span></a></dd>
                                                        <dd><a title="瑞士卷" href="#"><span>瑞士卷</span></a></dd>
                                                        <dd><a title="软面包" href="#"><span>软面包</span></a></dd>
                                                        <dd><a title="马卡龙" href="#"><span>马卡龙</span></a></dd>
                                                        <dd><a title="千层饼" href="#"><span>千层饼</span></a></dd>
                                                        <dd><a title="甜甜圈" href="#"><span>甜甜圈</span></a></dd>
                                                        <dd><a title="蒸三明治" href="#"><span>蒸三明治</span></a></dd>
                                                        <dd><a title="铜锣烧" href="#"><span>铜锣烧</span></a></dd>
                                                    </dl>

                                                </div>
                                                <div class="brand-side">
                                                    <dl class="dl-sort">
                                                        <dt><span>实力商家</span></dt>
                                                        <dd><a rel="nofollow" title="呵官方旗舰店" target="_blank" href="#"
                                                               rel="nofollow"><span class="red">呵官方旗舰店</span></a></dd>
                                                        <dd><a rel="nofollow" title="格瑞旗舰店" target="_blank" href="#"
                                                               rel="nofollow"><span>格瑞旗舰店</span></a></dd>
                                                        <dd><a rel="nofollow" title="飞彦大厂直供" target="_blank" href="#"
                                                               rel="nofollow"><span class="red">飞彦大厂直供</span></a></dd>
                                                        <dd><a rel="nofollow" title="红e·艾菲妮" target="_blank" href="#"
                                                               rel="nofollow"><span>红e·艾菲妮</span></a></dd>
                                                        <dd><a rel="nofollow" title="本真旗舰店" target="_blank" href="#"
                                                               rel="nofollow"><span class="red">本真旗舰店</span></a></dd>
                                                        <dd><a rel="nofollow" title="杭派女装批发网" target="_blank" href="#"
                                                               rel="nofollow"><span class="red">杭派女装批发网</span></a></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <b class="arrow"></b>
                            </li>
                            <li>
                                <div class="category-info">
                                    <h3 class="category-name b-category-name"><a class="ml-22" title="饼干、膨化">饼干/膨化</a>
                                    </h3>
                                    <em>&gt;</em></div>
                                <div class="menu-item menu-in top">
                                    <div class="area-in">
                                        <div class="area-bg">
                                            <div class="menu-srot">
                                                <div class="sort-side">
                                                    <dl class="dl-sort">
                                                        <dt><span title="饼干">饼干</span></dt>
                                                        <dd><a title="蒸蛋糕" href="#"><span>蒸蛋糕</span></a></dd>
                                                        <dd><a title="脱水蛋糕" href="#"><span>脱水蛋糕</span></a></dd>
                                                        <dd><a title="瑞士卷" href="#"><span>瑞士卷</span></a></dd>
                                                        <dd><a title="软面包" href="#"><span>软面包</span></a></dd>
                                                        <dd><a title="马卡龙" href="#"><span>马卡龙</span></a></dd>
                                                    </dl>
                                                    <dl class="dl-sort">
                                                        <dt><span title="薯片">薯片</span></dt>
                                                        <dd><a title="蒸蛋糕" href="#"><span>蒸蛋糕</span></a></dd>
                                                        <dd><a title="脱水蛋糕" href="#"><span>脱水蛋糕</span></a></dd>
                                                        <dd><a title="瑞士卷" href="#"><span>瑞士卷</span></a></dd>
                                                        <dd><a title="软面包" href="#"><span>软面包</span></a></dd>
                                                        <dd><a title="马卡龙" href="#"><span>马卡龙</span></a></dd>
                                                        <dd><a title="千层饼" href="#"><span>千层饼</span></a></dd>
                                                        <dd><a title="甜甜圈" href="#"><span>甜甜圈</span></a></dd>
                                                        <dd><a title="蒸三明治" href="#"><span>蒸三明治</span></a></dd>
                                                        <dd><a title="铜锣烧" href="#"><span>铜锣烧</span></a></dd>
                                                    </dl>
                                                    <dl class="dl-sort">
                                                        <dt><span title="蛋糕">虾条</span></dt>
                                                        <dd><a title="蒸蛋糕" href="#"><span>蒸蛋糕</span></a></dd>
                                                        <dd><a title="脱水蛋糕" href="#"><span>脱水蛋糕</span></a></dd>
                                                        <dd><a title="瑞士卷" href="#"><span>瑞士卷</span></a></dd>
                                                        <dd><a title="软面包" href="#"><span>软面包</span></a></dd>
                                                        <dd><a title="马卡龙" href="#"><span>马卡龙</span></a></dd>
                                                        <dd><a title="千层饼" href="#"><span>千层饼</span></a></dd>
                                                        <dd><a title="甜甜圈" href="#"><span>甜甜圈</span></a></dd>
                                                        <dd><a title="蒸三明治" href="#"><span>蒸三明治</span></a></dd>
                                                        <dd><a title="铜锣烧" href="#"><span>铜锣烧</span></a></dd>
                                                    </dl>
                                                </div>
                                                <div class="brand-side">
                                                    <dl class="dl-sort">
                                                        <dt><span>实力商家</span></dt>
                                                        <dd><a rel="nofollow" title="YYKCLOT" target="_blank" href="#"
                                                               rel="nofollow"><span class="red">YYKCLOT</span></a></dd>
                                                        <dd><a rel="nofollow" title="池氏品牌男装" target="_blank" href="#"
                                                               rel="nofollow"><span class="red">池氏品牌男装</span></a></dd>
                                                        <dd><a rel="nofollow" title="男装日志" target="_blank" href="#"
                                                               rel="nofollow"><span>男装日志</span></a></dd>
                                                        <dd><a rel="nofollow" title="索比诺官方旗舰店" target="_blank" href="#"
                                                               rel="nofollow"><span>索比诺官方旗舰店</span></a></dd>
                                                        <dd><a rel="nofollow" title="onTTno傲徒" target="_blank" href="#"
                                                               rel="nofollow"><span class="red">onTTno傲徒</span></a></dd>
                                                        <dd><a rel="nofollow" title="玛狮路男装旗舰店" target="_blank" href="#"
                                                               rel="nofollow"><span>玛狮路男装旗舰店</span></a></dd>
                                                        <dd><a rel="nofollow" title="劳威特品牌男装" target="_blank" href="#"
                                                               rel="nofollow"><span>劳威特品牌男装</span></a></dd>
                                                        <dd><a rel="nofollow" title="卡斯郎世家批发城" target="_blank" href="#"
                                                               rel="nofollow"><span class="red">卡斯郎世家批发城</span></a></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <b class="arrow"></b>
                            </li>
                            <li>
                                <div class="category-info">
                                    <h3 class="category-name b-category-name"><a class="ml-22" title="熟食、肉类">熟食/肉类</a>
                                    </h3>
                                    <em>&gt;</em></div>
                                <div class="menu-item menu-in top">
                                    <div class="area-in">
                                        <div class="area-bg">
                                            <div class="menu-srot">
                                                <div class="sort-side">
                                                    <dl class="dl-sort">
                                                        <dt><span title="猪肉脯">猪肉脯</span></dt>
                                                        <dd><a title="蒸蛋糕" href="#"><span>蒸蛋糕</span></a></dd>
                                                        <dd><a title="脱水蛋糕" href="#"><span>脱水蛋糕</span></a></dd>
                                                        <dd><a title="瑞士卷" href="#"><span>瑞士卷</span></a></dd>
                                                        <dd><a title="软面包" href="#"><span>软面包</span></a></dd>
                                                        <dd><a title="马卡龙" href="#"><span>马卡龙</span></a></dd>
                                                    </dl>
                                                    <dl class="dl-sort">
                                                        <dt><span title="牛肉丝">牛肉丝</span></dt>
                                                        <dd><a title="蒸蛋糕" href="#"><span>蒸蛋糕</span></a></dd>
                                                        <dd><a title="脱水蛋糕" href="#"><span>脱水蛋糕</span></a></dd>
                                                        <dd><a title="瑞士卷" href="#"><span>瑞士卷</span></a></dd>
                                                        <dd><a title="软面包" href="#"><span>软面包</span></a></dd>
                                                        <dd><a title="马卡龙" href="#"><span>马卡龙</span></a></dd>
                                                    </dl>
                                                    <dl class="dl-sort">
                                                        <dt><span title="小香肠">小香肠</span></dt>
                                                        <dd><a title="蒸蛋糕" href="#"><span>蒸蛋糕</span></a></dd>
                                                        <dd><a title="脱水蛋糕" href="#"><span>脱水蛋糕</span></a></dd>
                                                        <dd><a title="瑞士卷" href="#"><span>瑞士卷</span></a></dd>
                                                        <dd><a title="软面包" href="#"><span>软面包</span></a></dd>
                                                        <dd><a title="铜锣烧" href="#"><span>铜锣烧</span></a></dd>
                                                    </dl>
                                                </div>
                                                <div class="brand-side">
                                                    <dl class="dl-sort">
                                                        <dt><span>实力商家</span></dt>
                                                        <dd><a rel="nofollow" title="花颜巧语 " target="_blank" href="#"
                                                               rel="nofollow"><span class="red">花颜巧语 </span></a></dd>
                                                        <dd><a rel="nofollow" title="糖衣小屋" target="_blank" href="#"
                                                               rel="nofollow"><span>糖衣小屋</span></a></dd>
                                                        <dd><a rel="nofollow" title="卡拉迪克  " target="_blank" href="#"
                                                               rel="nofollow"><span class="red">卡拉迪克  </span></a></dd>
                                                        <dd><a rel="nofollow" title="暖春童话 " target="_blank" href="#"
                                                               rel="nofollow"><span>暖春童话 </span></a></dd>
                                                        <dd><a rel="nofollow" title="华盛童装批发行 " target="_blank" href="#"
                                                               rel="nofollow"><span>华盛童装批发行 </span></a></dd>
                                                        <dd><a rel="nofollow" title="奈仕华童装旗舰店" target="_blank" href="#"
                                                               rel="nofollow"><span>奈仕华童装旗舰店</span></a></dd>
                                                        <dd><a rel="nofollow" title="斑蒂尼BONDYNI" target="_blank"
                                                               href="#" rel="nofollow"><span
                                                                class="red">斑蒂尼BONDYNI</span></a></dd>
                                                        <dd><a rel="nofollow" title="猫儿朵朵 " target="_blank" href="#"
                                                               rel="nofollow"><span>猫儿朵朵 </span></a></dd>
                                                        <dd><a rel="nofollow" title="童衣阁" target="_blank" href="#"
                                                               rel="nofollow"><span class="red">童衣阁</span></a></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!--导航 -->
        <script type="text/javascript">
            (function () {
                $('.am-slider').flexslider();
            });
            $(document).ready(function () {
                $("li").hover(function () {
                    $(".category-content .category-list li.first .menu-in").css("display", "none");
                    $(".category-content .category-list li.first").removeClass("hover");
                    $(this).addClass("hover");
                    $(this).children("div.menu-in").css("display", "block")
                }, function () {
                    $(this).removeClass("hover")
                    $(this).children("div.menu-in").css("display", "none")
                });
            })
        </script>
        <!-- 轮播图下面的活动 -->
        <div class="row">
            <li><a><img src="{% static 'images/row1.jpg' %}"/></a></li>
            <li><a><img src="{% static 'images/row2.jpg' %}"/></a></li>
            <li><a><img src="{% static 'images/row3.jpg' %}"/></a></li>
            <li><a><img src="{% static 'images/row4.jpg' %}"/></a></li>
        </div>
        <!-- 右边的商城头条 -->
        <div class="marqueenTwo">
            <span class="marqueen-title"><i class="am-icon-volume-up am-icon-fw"></i>商城头条<em
                    class="am-icon-angle-double-right"></em></span>
            <div class="demo">

                <ul>
                    <li class="title-first"><a target="_blank" href="#">
                        <img src="/static/images/TJ2.jpg"></img>
                        <span>[特惠]</span>洋河年末大促，低至两件五折
                    </a></li>
                    <li class="title-first"><a target="_blank" href="#">
                        <span>[公告]</span>商城与广州市签署战略合作协议
                        <img src="/static/images/TJ.jpg"></img>
                        <p>XXXXXXXXXXXXXXXXXX</p>
                    </a></li>
                    <li><a target="_blank" href="#"><span>[特惠]</span>女生节商城爆品1分秒 </a></li>
                    <li><a target="_blank" href="#"><span>[公告]</span>华北、华中部分地区配送延迟</a></li>
                    <li><a target="_blank" href="#"><span>[特惠]</span>家电狂欢千亿礼券 买1送1！</a></li>
                    <li><a target="_blank" href="#"><span>[特惠]</span>洋河年末大促，低至两件五折</a></li>
                    <li><a target="_blank" href="#"><span>[公告]</span>华北、华中部分地区配送延迟</a></li>

                </ul>

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="shopMainbg">
    <div class="shopMain" id="shopmain">
        {% for sub_cate in sub_cate_es %}
            {% if forloop.counter < 6 %}
                <div>
                    <div class="am-container ">

                        <div class="shopTitle ">

                            <h4 class="floor-title">{{ sub_cate.name }}</h4>
                            <div class="floor-subtitle"><em class="am-icon-caret-left"></em>
                                <h3>每一道美食都有一个故事</h3></div>
                            <div class="today-brands " style="right:0px ;top:13px;">
                                <a href="#">更多</a>

                                {#                            href="{% url 'search' %}?keyword={{ sub_cate.name }}#}

                            </div>
                        </div>

                    </div>
                    <div class="am-g am-g-fixed floodSix ">
                        <div class="am-u-sm-5 am-u-md-3 text-one list">
                            <div class="word">
                            </div>
                            <a href="# ">

                                <img src="{% static 'images/5.jpg' %}"/>
                                <div class="outer-con ">
                                    <div class="title ">
                                        零食大礼包开抢啦
                                    </div>
                                    <div class="sub-title ">
                                        当小鱼儿恋上软豆腐
                                    </div>
                                </div>
                            </a>
                            <div class="triangle-topright"></div>
                        </div>

                        <div class="am-u-sm-7 am-u-md-5 am-u-lg-2 text-two big">

                            <div class="outer-con ">
                                <div class="title ">
                                    雪之恋和风大福
                                </div>
                                <div class="sub-title ">
                                    ¥13.8
                                </div>

                            </div>
                            <a href="# "><img src="{% static 'images/act1.png' %}"/></a>
                        </div>
                        {% for shop in sub_cate.shops %}
                            {% if forloop.counter < 7 %}
                                <li>
                                    <div class="am-u-md-2 am-u-lg-2 text-three">
                                        <div class="boxLi"></div>
                                        <div class="outer-con ">
                                            <div class="title "
                                                 style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap">
                                                {{ shop.name }}
                                            </div>
                                            <div class="sub-title ">
                                                ￥{{ shop.promote_price }}
                                            </div>

                                        </div>
                                        <a href="{% url 'detail' %}?sid={{ shop.shop_id }}"><img
                                                src="{{ shop.img.img_url }} "/></a>
                                    </div>

                                </li>
                            {% endif %}
                        {% endfor %}


                    </div>
                    <div class="clear "></div>
                </div>
            {% endif %}

        {% endfor %}
    </div>
</div>


