{% extends 'base.html' %}
{% block title %}
    地址管理
{% endblock %}
{% block page_css %}
    <link href="/static/css/personal.css" rel="stylesheet" type="text/css">
    <link href="/static/css/addstyle.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block page_main %}
    <div class="center">
        <div class="col-main">
            <div class="main-wrap">

                <div class="user-address">
                    <!--标题 -->
                    <div class="am-cf am-padding">
                        <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">地址管理</strong> /
                            <small>Address&nbsp;list</small>
                        </div>
                    </div>
                    <hr/>
                    <ul class="am-avg-sm-1 am-avg-md-3 am-thumbnails">
                        {% if address_list %}
                            {% for address in address_list %}
                                <li class="user-addresslist defaultAddr">
                                    {#                                <span class="new-option-r"><i class="am-icon-check-circle"></i>默认地址</span>#}
                                    <p class="new-tit new-p-re">
                                        <span class="new-txt">{{ address.receiver }}</span>
                                        <span class="new-txt-rd2">{{ address.phone }}</span>
                                    </p>
                                    <div class="new-mu_l2a new-p-re">
                                        <p class="new-mu_l2cw">
                                            <span class="title">地址：</span>
                                            <span class="province">{{ address.province }}</span>
                                            <span class="city">{{ address.city }}</span>
                                            <span class="dist">{{ address.area }}</span>
                                            <span class="street">{{ address.detail_address }}</span></p>
                                    </div>
                                    <div class="new-addr-btn">
                                        <a href="#"><i class="am-icon-edit"></i>编辑</a>
                                        <span class="new-addr-bar">|</span>
                                        <a href="javascript:void(0);" onclick="delClick(this);"><i
                                                class="am-icon-trash"></i>删除</a>
                                    </div>
                                </li>
                            {% endfor %}
                        {% endif %}




                        {#                        <li class="user-addresslist">#}
                        {#                            <span class="new-option-r"><i class="am-icon-check-circle"></i>设为默认</span>#}
                        {#                            <p class="new-tit new-p-re">#}
                        {#                                <span class="new-txt">小叮当</span>#}
                        {#                                <span class="new-txt-rd2">159****1622</span>#}
                        {#                            </p>#}
                        {#                            <div class="new-mu_l2a new-p-re">#}
                        {#                                <p class="new-mu_l2cw">#}
                        {#                                    <span class="title">地址：</span>#}
                        {#                                    <span class="province">湖北</span>省#}
                        {#                                    <span class="city">武汉</span>市#}
                        {#                                    <span class="dist">洪山</span>区#}
                        {#                                    <span class="street">雄楚大道666号(中南财经政法大学)</span></p>#}
                        {#                            </div>#}
                        {#                            <div class="new-addr-btn">#}
                        {#                                <a href="#"><i class="am-icon-edit"></i>编辑</a>#}
                        {#                                <span class="new-addr-bar">|</span>#}
                        {#                                <a href="javascript:void(0);" onclick="delClick(this);"><i class="am-icon-trash"></i>删除</a>#}
                        {#                            </div>#}
                        {#                        </li>#}
                        {#                        <li class="user-addresslist">#}
                        {#                            <span class="new-option-r"><i class="am-icon-check-circle"></i>设为默认</span>#}
                        {#                            <p class="new-tit new-p-re">#}
                        {#                                <span class="new-txt">小叮当</span>#}
                        {#                                <span class="new-txt-rd2">159****1622</span>#}
                        {#                            </p>#}
                        {#                            <div class="new-mu_l2a new-p-re">#}
                        {#                                <p class="new-mu_l2cw">#}
                        {#                                    <span class="title">地址：</span>#}
                        {#                                    <span class="province">湖北</span>省#}
                        {#                                    <span class="city">武汉</span>市#}
                        {#                                    <span class="dist">洪山</span>区#}
                        {#                                    <span class="street">雄楚大道666号(中南财经政法大学)</span></p>#}
                        {#                            </div>#}
                        {#                            <div class="new-addr-btn">#}
                        {#                                <a href="#"><i class="am-icon-edit"></i>编辑</a>#}
                        {#                                <span class="new-addr-bar">|</span>#}
                        {#                                <a href="javascript:void(0);" onclick="delClick(this);"><i class="am-icon-trash"></i>删除</a>#}
                        {#                            </div>#}
                        {#                        </li>#}
                    </ul>
                    <div class="clear"></div>
                    <a class="new-abtn-type" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0}">添加新地址</a>
                    <!--例子-->
                    <div class="am-modal am-modal-no-btn" id="doc-modal-1">

                        <div class="add-dress">

                            <!--标题 -->
                            <div class="am-cf am-padding">
                                <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">新增地址</strong> /
                                    <small>Add&nbsp;address</small>
                                </div>
                            </div>
                            <hr/>

                            <div class="am-u-md-12 am-u-lg-8" style="margin-top: 20px;">
                                <form method="post" action="{% url 'address' %}" class="am-form am-form-horizontal">

                                    <div class="am-form-group">
                                        <label for="user-name" class="am-form-label">收货人</label>
                                        <div class="am-form-content">
                                            <input type="text" name="receiver" id="user-name" placeholder="收货人">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-phone" class="am-form-label">手机号码</label>
                                        <div class="am-form-content">
                                            <input id="user-phone" name="phone" placeholder="手机号必填" type="text">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-address" class="am-form-label">所在地</label>
                                        <div class="am-form-content address">
                                            <select name="province" data-am-selected>
                                                <option value="浙江省">浙江省</option>
                                                <option value="湖北省" selected>湖北省</option>
                                            </select>
                                            <select name="city" data-am-selected>
                                                <option value="温州市">温州市</option>
                                                <option value="武汉市" selected>武汉市</option>
                                            </select>
                                            <select name="area" data-am-selected>
                                                <option value="瑞安区">瑞安区</option>
                                                <option value="洪山区" selected>洪山区</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-intro" class="am-form-label">详细地址</label>
                                        <div class="am-form-content">
                                            <textarea class="" rows="3" name="detail_address" id="user-intro"
                                                      placeholder="输入详细地址"></textarea>
                                            <small>100字以内写出你的详细地址...</small>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <input class="am-btn am-btn-danger" type="submit" value="保存">
                                            <a href="javascript: void(0)" class="am-close am-btn am-btn-danger"
                                               data-am-modal-close>取消</a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>

                </div>

                <script type="text/javascript">
                    $(document).ready(function () {
                        $(".new-option-r").click(function () {
                            $(this).parent('.user-addresslist').addClass("defaultAddr").siblings().removeClass("defaultAddr");
                        });

                        var $ww = $(window).width();
                        if ($ww > 640) {
                            $("#doc-modal-1").removeClass("am-modal am-modal-no-btn")
                        }

                    })
                </script>

                <div class="clear"></div>

            </div>
        </div>

        <aside class="menu">
            <ul>
                <li class="person active">
                    <a href="#"><i class="am-icon-user"></i>个人中心</a>
                </li>
                <li class="person">
                    <p><i class="am-icon-newspaper-o"></i>个人资料</p>
                    <ul>
                        <li><a href="{% url 'user_update' %}">个人信息</a></li>
                        <li><a href="#">安全设置</a></li>
                        <li><a href="{% url 'address' %}">地址管理</a></li>
                        <li><a href="#">快捷支付</a></li>
                    </ul>
                </li>
                <li class="person">
                    <p><i class="am-icon-balance-scale"></i>我的交易</p>
                    <ul>
                        <li><a href="#">订单管理</a></li>
                        <li><a href="#">退款售后</a></li>
                        <li><a href="#">评价商品</a></li>
                    </ul>
                </li>
                <li class="person">
                    <p><i class="am-icon-dollar"></i>我的资产</p>
                    <ul>
                        <li><a href="#">我的积分</a></li>
                        <li><a href="#">优惠券 </a></li>
                        <li><a href="#">红包</a></li>
                        <li><a href="#">账户余额</a></li>
                        <li><a href="#">账单明细</a></li>
                    </ul>
                </li>

                <li class="person">
                    <p><i class="am-icon-tags"></i>我的收藏</p>
                    <ul>
                        <li><a href="#">收藏</a></li>
                        <li><a href="#">足迹</a></li>
                    </ul>
                </li>

                <li class="person">
                    <p><i class="am-icon-qq"></i>在线客服</p>
                    <ul>
                        <li><a href="#">商品咨询</a></li>
                        <li><a href="#">意见反馈</a></li>

                        <li><a href="#">我的消息</a></li>
                    </ul>
                </li>
            </ul>

        </aside>
    </div>
{% endblock %}